* {
    padding: 0;
    margin: 0;
}

body,
html,
#app {
    width: 100%;
    height: 100%;
}

body,
html {
    overflow: hidden;
    background: #505050;
}

#app-hd {
    height: 45px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#app-hd h1 {
    height: 45px;
    line-height: 45px;
    margin-left: 15px;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: 100;
}

.app-hd__vision {
    font-size: 12px;
}

#app-bd {
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
}

.app-bd__uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.uploader__lable {
    padding: 4px 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    color: #aaa;
    font-size: 18px;
    font-weight: 200;
    transition: all .5s;
    cursor: pointer;
}

.uploader__lable:hover {
    color: #fff;
    border-color: #fff;
}

.uploader__lable:active {
    transform: translate(0, 5px)
}

#uploader {
    display: none;
}

.app-bd__mn {
    display: flex;
    width: 100%;
    height: 100%;
}

.mn__sd {
    position: relative;
    width: 200px;
    height: 100%;
    padding-right: 15px;
    background: rgba(0, 0, 0, .5);
    overflow: auto;
}

.mn__ct {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-right: 15px;
    overflow: auto;
}

.mn__ct canvas {
    width: 50%
}

.mini-map {
    padding: 10px;
    margin-left: 15px;
    text-align: center;
}

.mini-map:hover {
    background: rgba(255, 255, 255, 0.5)
}

.mini-map__img {
    width: 100%;
    height: auto;
}

.z-hide {
    display: none;
}